* {
	font-family: $fontMain;
	margin: 0;
	padding: 0;	
}

html {
	font-size: 62.5%;
}

p, li {
	font-size: 1.7rem;
	line-height: 3rem;
}

a {
	text-decoration: none;
}


	// MIXINS

@mixin m-p($margin,$padding) {
	margin: $margin;
	padding: $padding;
}

	// MAPS

$paleta:(
	'c1':#EBEBEB,
	'c2':#FAF5F5,
	'c3':#E6E6E6,
	'c4':#A5A3A3,
	'c5':#696969,
	'c6':#4C4C4C,
	'c7':#404040,
	'c8':#3F3F3F,
	'c9':#000000,
	'c10':#FBF6D8,
	'c11':#F8F2DB,
	'c12':#807641,
	'c13':#8E7B38,
	'c14':#B5923E,
	'c15':#C1A924,
);

	// CLASES

.flex-row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
