			
				// MAIN

.mainContacto {
	background-image: url(../img/fondo/presence-ii.png);
	background-attachment: fixed;
	padding: 10rem 20rem 20rem 20rem;
	h1 {
		font-size: 2.9rem;
		padding: 3rem;
		text-transform: uppercase;
		background-color: #696969;
		color: #F8F2DB;	
	}
	h2 {
		font-size: 1.7rem;
		padding: 10rem 3rem;
		margin-top: -.5rem;
		background-color: rgba(183,183,183,0.3);
		color: #3F3F3F;	
		font-weight: bold;
		text-shadow: 5px 4px 10px rgba(103,99,99,0.53);
	}
	.containerForm {
		margin-top: 15rem;
		border: 0.5rem solid #8E7B38;
		padding: 8rem;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,0.6) 92%);
		.bntForm-propio {
		    color: #fff;
		    background: linear-gradient( #000000,#8E7B38);
		    border-color: #000000;
		    font-weight: bold;
		    font-size: 1.5rem;
		    padding: 1rem 8rem;
		    margin-top: 4rem;
		    border-radius: 4px;
		}
	}
}

/* ---------------------------- */