
				// GRID
				
.faqMadre {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header"
						"main"
						"footer";
	.header {
		grid-area: header;
	}
	.faqMain {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
	}
}

				// MAIN

.faqMain {
	display: flex;
	justify-self: center;
	width: 80vw;
	@include m-p(0, 4rem);
	background-color: map-get($map:$paleta,$key:'c2');
	h1 {
		font-size: 2.9rem;
		text-transform: uppercase;
		@include m-p(0, 3rem);
	}
	h2 {
		text-align: left;
		font-size: 2rem;
		@include m-p(2rem, 0);
	}
	div.border {
		border: 2px solid map-get($map:$paleta,$key:'c9');
		background-color: map-get($map:$paleta,$key:'c12');
		color: white;
		text-align: justify;
		margin-bottom: 5rem;
		@include m-p(x, 2rem);
	}
}
/* ---------------------------- */