

@media (max-width: 500px) {

				// INDEX

	.homeMadre {
		.homeMain {
			.art1 {
				.cardGroup {
					display: flex;
					width: 80vw;
				}
			}
			.art2 .art2Container {
				.servicioContainer{
					.servicio {
						width: 90vw;
						@include m-p(x, 1rem .4rem);
					}
				}
				.imgServicio img {	
					display: none;
				}
			} 
		}
	}			
				// TIENDA
	

	.tiendaMadre {
		grid-template-columns: 10% 80% 10%;
		article h1 {
	   		font-size: 2rem;
	    }		
	}

				// PREGUNTAS FRECUENTES

	.faqMadre
		.faqMain {
			width: auto;
		}

                // FOOTER

	footer {
		.iconRedes {	
			height: 3.4rem;
			width: 3.4rem;
		}
	}
}

@media (max-width: 620px) {

				// INDEX

	.homeMadre {
		.homeMain {
			.art1 {
				h3 {
					@include m-p(4rem 0.5rem, 1.5rem 0); 
				}
				.cardGroup {
					display: flex;
					width: 100%;
					margin: x 0;
				}
			}
		}
	}

				// PREGUNTAS FRECUENTES 

	.faqMadre {
		.faqMain {		
			@include m-p(0, 0);
			h1 {
				font-size: 2.4rem;
				text-align: center;
			}
			h2 {
				@include m-p(1rem 0.5rem, 0);
				font-size: 1.7rem;
			}
		}
	}

				// CONTACTO 

	.mainContacto {
		@include m-p(0, 4rem 0.5rem);
		h1 {
			font-size: 2.9rem;
		}
		.containerForm {
			@include m-p(x, 6rem 1rem);
			margin-top: 5rem;
			margin-bottom: 6rem;
			.bntForm-propio {
		 	   	font-size: 1rem;
		       	@include m-p(x, 0.7rem 3.5rem);
		    	margin-top: 4rem;
		    	border-radius: 4px;
			}
		}
	}
}

@media (min-width: 501px) and (max-width: 1100px) {

				// CONTACTO 

	.mainContacto {
		@include m-p(0, 4rem 7rem 7rem 7rem);
	}
}

@media (max-width: 1100px) {

				// INDEX

	.homeMadre {
		.homeMain {
			.art1 {
				.card-body {
					p {
						padding: 1rem 1rem;
					}
				}
			}
			.art2 {
				.art2Container {
					flex-direction: column;
					padding-right: 0rem;
					.servicioContainer{
						width: auto;
						.servicio {
							width: 90vw;
							@include m-p(30px 0, x);
						}
					}
					.imgServicio img {	
						width: 70vw;
						height: auto;
						@include m-p(4rem 0, 0);
					}
				} 
			}
		}
	}
}

@media (max-width: 1503px) {

				// NOSOTROS

	.nosotrosMadre {
		grid-template-columns: 1fr;
		grid-template-areas: "header"
							"main"
							"aside"
							"footer";
		.mainNosotros h2 {
			font-size: 2rem;
			padding-bottom: 1rem;
			padding-top: 4rem;
		}		
		.asideNosotros div {
			@include m-p(-5rem 0rem 5rem, 0);
			iframe {
				 width: 80vw;
				 height: 45rem;
			}
		}
	}	
}