
				// GRID 

.nosotrosMadre {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header header"
						"main aside"
						"footer footer";
	.header {
		grid-area: header;
	}
	.tiendaNosotros {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
	}
	.asideNosotros {
		grid-area: aside;
	}
}

/* ---------------------------- */

				// MAIN

.mainNosotros {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include m-p(0, 10rem 4rem);
	max-width: 100%;
	h1 {
		font-size: 2.9rem;
		text-align: center;
		@include m-p(x, 3rem);
		margin-bottom: 4rem;
		text-transform: uppercase;
		background-color: map-get($map:$paleta,$key:'c5');
		color: map-get($map:$paleta,$key:'c11');
	}
	h2 {
		font-size: 2rem;
		@include m-p(0, 3rem 2rem);
		font-weight: bold;
	}
	p {
		text-align: justify;
	}
}

/* ---------------------------- */

				// ASIDE

.asideNosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	div {
		border: 8px solid map-get($map:$paleta,$key:'c13');
		@include m-p(25rem x, 0);
		margin-right: 2rem;
		iframe {
			 width: 30vw;
			 height: 45rem;
		}
	}
}

/* ---------------------------- */