
				// GRID

.tiendaMadre {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
						"aside main div"
						"footer footer footer";
	.header {
		grid-area: header;
	}
	.tiendaMain {
		grid-area: main;
		article {
			background-color: map-get($map:$paleta,$key:'c3');
			@include m-p(0, 5rem 0); 
			h1 {
				font-size: 2.9rem;
				text-align: center;
				margin-bottom: 2rem;
				background-color: map-get($map:$paleta,$key:'c6');
				color: map-get($map:$paleta,$key:'c10');
				text-transform: uppercase;
				@include m-p(x, 3rem);
			}
			.productos {
				@extend .flex-row-center;
				.borderCard {
					border: 2px solid map-get($map:$paleta,$key:'c9');
					h3 {
						font-weight: 700;
					}
				}
			}
		}
	}
	.footer {
		grid-area: footer;
	}
	.asideTienda {
		grid-area: aside;
		background-image: url(../img/asideTienda.png);
		background-size: cover;
	}
	.divTienda {
		grid-area: div;
		@extend .asideTienda;
	}
}

/* ---------------------------- */
